.menupageimage {
  bottom: -22rem;
}

.menupagetext {
  font-size: 3.5rem;
  letter-spacing: 0.4rem;
  bottom: -13rem;
  padding-left: 0.4rem;
  opacity: 0.8;
  text-shadow: 4px 3px #4a3f35;
}

.invisiblemenubtn {
  height: 3rem;
  width: 8rem;
  bottom: -12.5rem;
  // background-color: lime;
}

// IPHONE 4 - CHROME DEVTOOLS
@media (min-width: 320px) and (min-height: 480px) and (orientation: portrait) {
  .menupageimage {
    bottom: -23.7rem;
  }

  .menupagetext {
    font-size: 3rem;
    letter-spacing: 0.4rem;
    bottom: -13.4rem;
  }

  .invisiblemenubtn {
    height: 2.3rem;
    width: 6rem;
  }
}

// IPHONE 5-SE - CHROME DEVTOOLS
@media (min-width: 320px) and (min-height: 568px) and (orientation: portrait) {
  .menupageimage {
    bottom: -22.7rem;
  }

  .menupagetext {
    font-size: 3.2rem;
    bottom: -13.1rem;
  }

  .invisiblemenubtn {
    height: 3rem;
    width: 8rem;
  }
}

// Galaxy S5- CHROME DEVTOOLS
@media (min-width: 360px) and (min-height: 640px) and (orientation: portrait) {
  .menupageimage {
    bottom: -23.7rem;
  }

  .menupagetext {
    font-size: 3.2rem;
    bottom: -13.5rem;
  }

  .invisiblemenubtn {
    height: 2rem;
    width: 7rem;
  }
}

// IPHONE 6/7/8 - CHROME DEVTOOLS
@media (min-width: 375px) and (min-height: 667px) and (orientation: portrait) {
  .menupageimage {
    bottom: -22.7rem;
  }

  .menupagetext {
    font-size: 3.5rem;
    bottom: -13.2rem;
  }

  .invisiblemenubtn {
    height: 3rem;
    width: 7rem;
  }
}

// IPHONE XR - TESTED W/ NGROK
@media (min-width: 414.98px) and (min-height: 715.98px) and (orientation: portrait) {
  .menupageimage {
    bottom: -22.7rem;
  }

  .menupagetext {
    font-size: 3.6rem;
    bottom: -13.5rem;
  }

  .invisiblemenubtn {
    height: 3rem;
    width: 7rem;
  }
}

// IPHONE X - CHROME DEVTOOLS
@media (min-width: 375px) and (min-height: 812px) and (orientation: portrait) {
  .menupageimage {
    bottom: -21.7rem;
  }

  .menupagetext {
    font-size: 3.8rem;
    bottom: -13rem;
  }

  .invisiblemenubtn {
    height: 4rem;
    width: 8rem;
  }
}

// PIXEL 2 - CHROME DEVTOOLS
@media (min-width: 411px) and (min-height: 731px) and (orientation: portrait) {
  .menupageimage {
    bottom: -22.7rem;
  }

  .menupagetext {
    font-size: 3.6rem;
    bottom: -13.5rem;
  }

  .invisiblemenubtn {
    height: 3rem;
    width: 7rem;
  }
}

// IPHONE 6/7/8 PLUS - CHROME DEVTOOLS
@media (min-width: 414px) and (min-height: 736px) and (orientation: portrait) {
  .menupageimage {
    bottom: -21.7rem;
  }

  .menupagetext {
    font-size: 3.8rem;
    bottom: -13rem;
  }

  .invisiblemenubtn {
    height: 4rem;
    width: 8rem;
  }
}

// PIXEL 2XL- CHROME DEVTOOLS
@media (min-width: 411px) and (min-height: 823px) and (orientation: portrait) {
  .menupageimage {
    bottom: -21.7rem;
  }

  .menupagetext {
    font-size: 3.8rem;
    bottom: -13rem;
  }

  .invisiblemenubtn {
    height: 4rem;
    width: 8rem;
  }
}

// SURFACE DUO - CHROME DEVTOOLS - PORTRAIT
@media (min-width: 540px) and (min-height: 720px) and (orientation: portrait) {
  .menupageimage {
    bottom: -21.7rem;
  }

  .menupagetext {
    font-size: 3.8rem;
    bottom: -13rem;
  }

  .invisiblemenubtn {
    height: 4rem;
    width: 8rem;
  }
}

// SURFACE DUO - CHROME DEVTOOLS - LANDSCAPE
@media (min-width: 720px) and (min-height: 540px) and (orientation: landscape) {
  .menupageimage {
    bottom: -23rem;
  }

  .menupagetext {
    font-size: 3rem;
    bottom: -13rem;
  }

  .invisiblemenubtn {
    height: 3rem;
    width: 8rem;
  }
}

// IPAD MINI - TESTED WITH NGROK - PORTRAIT
@media (min-width: 768px) and (min-height: 921px) and(orientation: portrait) {
  .menupageimage {
    bottom: -21rem;
  }

  .menupagetext {
    font-size: 4rem;
  }

  .invisiblemenubtn {
    height: 4rem;
  }
}

// IPAD MINI - TESTED WITH NGROK - LANDSCAPE
@media (min-width: 921px) and (min-height: 665.98px) and (orientation: landscape) {
  .menupagetext {
    font-size: 3.5rem;
    bottom: -13.5rem;
  }
}
