html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: url('/2-images/0-global/canvas-bg.jpg') no-repeat center center;
  background-size: cover;
}

* {
  font-family: 'Annie Use Your Telescope', cursive !important;
  color: white;
}
